
html{
    font-size: 0.33em;
}
.sidenav{
    height: 100%;
    width: 99px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#171F26;
    overflow-x: hidden;
    padding-top: 6.6px;
}
.sidenav img{
    width: 66px;
    border: 1.7px solid black;
    border-radius: 50%;
    margin-left: 13.2px;
    margin-top: 33px;
    margin-bottom: 16px;
    transition: 0.6s;

    
}
.sidenav li{
    list-style: none;  
    text-decoration: none;
    font-size: 5em;
    text-align: center;
    display: block;
}
.sidenav li a{
    color: white;
}
.sidenav li a:hover {
    color: #046A8C;
}
.sidenav img:hover{
    transform: scale(0.9);
}
div.main h1{
    margin-left: 115.5px;
    font-size: 5em;
    margin-top: 85.8px;
    color: #F0F0F2;
    font-weight:bold;
}
div.main h1 span{
    color: #222326;
    font-size: 1.2em;
}
div.main h2{
    margin-left: 198px;
    font-size: 3em;
    margin-top: 89.1;
    color:#285056;  
}
div.main p{
    margin-left:115.5px;
    font-size: 1.4em;
    margin-top: 16.5px;
    color: #222326;
    font-weight: bold;
}
